// C3 css overrides

@media screen and (max-width: 9999px) {
  table.c3-tooltip {
    display: table !important;
    tbody {
      display: table-row-group;
    }
    tr {
      display: table-row;
    }
    td, th {
      display: table-cell;
      &:before {
        display: none;
      }
    }
  }

}
