.imdikator-graph {
  &__graph {
    background-color: $_white;
    min-height: 500px;
    text {
      font-size: 11px;
      fill: $_black;
    }
  }
  &__functions {
    font-size: $font-size--medium;
  }
}





// D3 Graph
.axis path,
.axis line {
  fill: none;
  stroke: $_black;
  shape-rendering: crispEdges;
}

.bar {
  fill: $_purple;
}

.x.axis path {
  display: none;
}

// Trumps
.center { text-align: center; }

// Graph colors
.graph-color-0 { fill: $_purple; }
.graph-color-1 { fill: $_violet; }
.graph-color-2 { fill: $_color-male; }
.graph-color-3 { fill: $_color-female; }
.graph-color-4 { fill: $_orange; }
.graph-color-5 { fill: $_orange--dark; }
.graph-color-6 { fill: $_blue; }
.graph-color-7 { fill: $_green; }
.graph-color-8 { fill: $_green; }
