.imdikator-table {
  padding-bottom: $spacing;
  &__table {
    display: none;
    &.opened {
      display: table;
    }
  }
  &__toggle {
    font-size: $font-size--regular;

    border: none;
    i {
      color: $color-primary;
      margin-right: $spacing--xsmall;
    }
    span {
      @extend a;
      color: $color-text--grey;
      border-color: $color-text--grey;
    }

  }

  &__expander {
    padding: $spacing--small;

  }
}
