.imdikator-graph {
  &__graph {
    background-color: $_white;
    min-height: 500px;
    text {
      font-size: 11px;
      fill: $_black;
    }
  }
  &__functions {
    font-size: $font-size--medium;
    @extend .list--inline;
    &__item {
      // .tool-link
    }
  }
}
