.imdikator-table {
  padding-bottom: $spacing;
  &__table {
    display: none;
    &.opened {
      display: table;
    }
  }

  &__expander {
    background-color: $_canvas-grey;
    padding: $spacing--small;
    i {
      float: right;
    }
    &.opened {

    }
  }

  table {
    width: 100%;
  }
  
}
