.imdikator-graph {
  &__graph {
    background-color: $_white;
    min-height: 500px;
    text {
      font-size: 11px;
      fill: $_black;
    }
  }
  &__functions {
    font-size: $font-size--medium;
    @extend .list--inline;
    padding-top: $spacing;
    &__item {
      margin-right: $spacing--small;
      .tool-link {
        color: $color-text--grey;
        border: none;
      }
      span {
        display: inline-block;
        border-bottom: 1px solid $color-text--grey;
      }
      .icon  {
        color: $color-primary;
        margin-right: $spacing--xsmall;
      }
    }
  }
}
