.toggle {
	display: block;
	background: lighten($_canvas-grey,10%);
	padding: $spacing--small $spacing;
	color: $color-text;
	border: none;
	&:before {
		content: "";
		display: inline-block;
		width: 30px;
		height: 1em;
		background: url('../gfx/arrow.svg') no-repeat;
		background-position: center center;
		vertical-align: middle;
	}
	&--close {
		&:before {
			transform: rotate(180deg);
		}
	}
}
