@import "blank";

body {
  background-color: $_canvas-grey;
}

.imdikator-box {
  background-color: $_white;
  box-shadow: 0 0 5px rgba(#333, .1);
  margin-bottom: $spacing;
  padding: $spacing $spacing--large;
}

.imdikator-list {
  &__wrapper {
    margin: 0 $spacing--large;
    padding: 0;
  }
  &__group {
    @extend .imdikator-box;
  }
  &__item {
    @extend h3;
    line-height: $factor-line-height * 2;
    display: block;
    border-bottom: 4px solid $_white;
  }
  &__expand-button {
    border: none;
    font-size: $font-size--xlarge;
    color: $_black--light;
    overflow: hidden;
    line-height: 1.5em;
    transition-property: transform;
    transition-duration: .1s;
    //imdikator-list__expand-button--expanded
    &--expanded, &:hover {
      transform: rotate(45deg);
    }
  }
}
.imdikator-graph__graph {
  min-height: 500px;
  text {
    font-size: 11px;
    fill: $_black;
  }
}

.imdikator-preamble {
  font-size: $font-size--medium;
  max-width: 80%;
  margin: 0 auto;
}

.imdikator-chart-loader {

}
.imdikator-chart-loader__text {
  text-align: center;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.imdikator-chart-loader__spinner {
  margin: 6em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(#dedede, 0.2);
  border-right: 1.1em solid rgba(#dedede, 0.2);
  border-bottom: 1.1em solid rgba(#dedede, 0.2);
  border-left: 1.1em solid $_black;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.imdikator-chart-loader__spinner, .imdikator-chart-loader__spinner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.imdikator-list__functions {
  font-size: $font-size--xsmall;
  a {
    margin-right: 1em;
    &:last-child {
      float: right;
      margin-right: 0;
    }
  }
}

// D3 Graph
.axis path,
.axis line {
  fill: none;
  stroke: $_black;
  shape-rendering: crispEdges;
}

.bar {
  fill: $_purple;
}

.x.axis path {
  display: none;
}

// Trumps
.center { text-align: center; }

// Graph colors
.graph-color-0 { fill: $_purple; }
.graph-color-1 { fill: $_violet; }
.graph-color-2 { fill: $_color-male; }
.graph-color-3 { fill: $_color-female; }
.graph-color-4 { fill: $_orange; }
.graph-color-5 { fill: $_orange--dark; }
.graph-color-6 { fill: $_blue; }
.graph-color-7 { fill: $_green; }
.graph-color-8 { fill: $_green; }


