body {
  background-color: lightslategrey;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 10px;
}

div.chart {
  width: 905px;
  height: 320px;
  background-color: white;
  margin-bottom: 20px;
}

@import "global/1_generic/_clearfix";
