.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 10px;
}

div.chart {
  width: 905px;
  height: 320px;
  background-color: white;
  border-style: dotted;
  border-width: 1px;
}

// GENERIC
@import "imdi-styles/Styles/global/1_generic/_reset";
@import "imdi-styles/Styles/global/1_generic/_normalize";
@import "imdi-styles/Styles/global/1_generic/_clearfix";

// BASE
@import "imdi-styles/Styles/global/2_base/_animations";
@import "imdi-styles/Styles/global/2_base/_body";
@import "imdi-styles/Styles/global/2_base/_grid";
@import "imdi-styles/Styles/global/2_base/_fontface";
@import "imdi-styles/Styles/global/2_base/_icons";
@import "imdi-styles/Styles/global/2_base/_type";
@import "imdi-styles/Styles/global/2_base/_form";

// BLOCKS
@import "imdi-styles/Styles/global/3_blocks/_blockquote";
@import "imdi-styles/Styles/global/3_blocks/_breadcrumbs";
@import "imdi-styles/Styles/global/3_blocks/_bullet";
@import "imdi-styles/Styles/global/3_blocks/_button";
@import "imdi-styles/Styles/global/3_blocks/_box";
@import "imdi-styles/Styles/global/3_blocks/_cta";
@import "imdi-styles/Styles/global/3_blocks/_cta-frontpage";
@import "imdi-styles/Styles/global/3_blocks/_content-list";
@import "imdi-styles/Styles/global/3_blocks/_feature";
@import "imdi-styles/Styles/global/3_blocks/_feature-bullet";
@import "imdi-styles/Styles/global/3_blocks/_feature-small";
@import "imdi-styles/Styles/global/3_blocks/_footer";
@import "imdi-styles/Styles/global/3_blocks/_flag";
@import "imdi-styles/Styles/global/3_blocks/_header";
@import "imdi-styles/Styles/global/3_blocks/_figure";
@import "imdi-styles/Styles/global/3_blocks/_info";
@import "imdi-styles/Styles/global/3_blocks/_employee";
@import "imdi-styles/Styles/global/3_blocks/_list";
@import "imdi-styles/Styles/global/3_blocks/_meta";
@import "imdi-styles/Styles/global/3_blocks/_message";
@import "imdi-styles/Styles/global/3_blocks/_ident";
@import "imdi-styles/Styles/global/3_blocks/_illustration";
@import "imdi-styles/Styles/global/3_blocks/_ingress";
@import "imdi-styles/Styles/global/3_blocks/_image-block";
@import "imdi-styles/Styles/global/3_blocks/_timeline";
@import "imdi-styles/Styles/global/3_blocks/_toc";
@import "imdi-styles/Styles/global/3_blocks/_page";
@import "imdi-styles/Styles/global/3_blocks/_person";
@import "imdi-styles/Styles/global/3_blocks/_search";
@import "imdi-styles/Styles/global/3_blocks/_navigation";
@import "imdi-styles/Styles/global/3_blocks/_pagination";
@import "imdi-styles/Styles/global/3_blocks/_summary";
@import "imdi-styles/Styles/global/3_blocks/_header-bullet";
@import "imdi-styles/Styles/global/3_blocks/_table";
@import "imdi-styles/Styles/global/3_blocks/_toggle";
//@import "imdi-styles/Styles/global/3_blocks/_toggle-list"; Not found - probably WIP @ netlife
@import "imdi-styles/Styles/global/3_blocks/_line";
@import "imdi-styles/Styles/global/3_blocks/_skiptocontent";

// TRUMPS
@import "imdi-styles/Styles/global/4_thrumps/_thrumps";
